name: Build
on:
  push:
    branches:
      - develop

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: Test Unit & Sonar Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: yarn

      - name: Linter
        run: yarn eslint . --format json --output-file reports/eslint-report.json

      - name: Test and coverage
        run: yarn jest --coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
